
# What are the characteristics of the tuples? Is tuple immutable?

1.Tuples are Immutables. Tuples do not support item assignment 


2.tuple object is not callable, Idexing is not working in tuples

 #  What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

Tuples has only 2 fuctions  index and count.
Because tuples does not support item assignment and object are not callable in tuple.

In [6]:
t3=(1,2,3,4,5,6,2,2)

In [4]:
type(t3)

tuple

In [11]:
t3.count(2)

3

Here the 2 is availabe 2 times that why count is 3

In [9]:
t3.index(6)

5

In the above example the 6 is coming in 5 index , hence showing the value as 5

# Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove

duplicates from the given list. List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [13]:
l1= [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [19]:
type(l1)

list

In [24]:
t1= set(l1)

In [25]:
t1

{1, 2, 3, 4}

##### Set does not allow the duplicate collection, if you see in the above example after converting into set we can see only 4 collections

 # Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [26]:
l1=[1,2,3,4,5,6,7,8,9,0]

In [27]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [28]:
type(l1)

list

In [31]:
t5=set(l1)

In [32]:
t5

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
t6={7,8,"Ranjiyh"}

In [34]:
t5.union(t6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Ranjiyh'}

If you see the above example , both the variable t5 and t6 got combined into a single one.

In [36]:
t7=t5

In [52]:
t7

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Ranjiyh'}

In [38]:
t8=t6

In [50]:
t8

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Ranjiyh'}

In [49]:
t9=t7.update(t8)

In [51]:
t9

If you see the above exmaple the t8 value got updated.

#  Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dic is also a data type.A dictionary is a collection which is # ordered*, changeable and do not allow duplicates.

d1={"name":"Ranjith, Raja"}

In [71]:
type(d1)

dict

In [73]:
d1.values()

dict_values(['Ranjith, Raja'])

In [74]:
d1.keys()

dict_keys(['name'])

In [78]:
d2={"ID":12345}

In [79]:
d2.values()

dict_values([12345])

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes, nested dict is possible, we can create a nested dict. Lets see the example.

In [81]:
d1

{'name': 'Ranjith, Raja'}

In [82]:
d2={id:'1,2'}

In [83]:
d2

{<function id(obj, /)>: '1,2'}

In [90]:
d2.pop(id)

'1,2'

In [91]:
d2

{}

In [92]:
d2{d1}

SyntaxError: invalid syntax (2734135289.py, line 1)

In [94]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [95]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

Here is the example for nested dict

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning'] dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [96]:
d4={}

In [97]:
d4

{}

In [118]:
d4.setdefault("topics","Python")

'Python'

In [114]:
d4

{'topics': 'Python'}

In [119]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [121]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [122]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [125]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [147]:
dict1.setdefault("topics","machine learning")

'machine learning'

In [152]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': 'machine learning'}

In [150]:
dict1.setdefault("topics","['Python','Machine Learning’,'Deep Learning']")

'machine learning'

In [151]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': 'machine learning'}

In [ ]:
dict1.update

In [155]:
dict2 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [156]:
dict2

{'language': 'Python', 'course': 'Data Science Masters'}

In [171]:
dict2.setdefault('topics',(1,4,3))

(1, 2, 3)

In [170]:
dict2

{'language': 'Python', 'course': 'Data Science Masters', 'topics': (1, 2, 3)}

 # Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to displaythese three view objects for the given dictionary. dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [172]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [173]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [174]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [183]:
print (dict.values)

<method 'values' of 'dict' objects>

In [184]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [186]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [187]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])